

header {
    display: flex;
    width: 105rem;
    height: 5rem;
    background-color: #152237;
}



.r-box, .p-box {
    display: flex;
    
}

.checked {
    color: yellow;
}

.avis {
    display: flex;
}

.avantage {
    display: flex;
}

