/* Code body */

body {
    margin: 0%;
    padding: 0%;
}

* {
    max-width: 100%;
    max-height: auto;
}
/* Code Header */
@media screen and (max-width: 425px ) { 
header {
    display: flex;
    width: 100%;
    height: 5rem;
    background-color: #152237;
}


    .h_img {
    height: 1.938rem;
    margin-top: 1.563rem;
    margin-left: 1.688rem;

}

.h_p {
    display: none;
}

.h_search {
    display: none;
}

.h_button {
    display: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 25px;
  left: 81%;
  

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 3px;

  background-color: #ffffff;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #ffffff;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #ffffff;

  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #ffffff;
}
}

@media screen and (min-width: 426px ) {
    header {
    display: flex;
    width: 100%;
    height: 5rem;
    background-color: #152237;
}


    .h_img {
    width: 5.25rem;
    height: 1.938rem;
    margin-top: 1.563rem;
    margin-left: 1.688rem;

}

.h_p {
    width: 6.875rem;
    height: 1.125rem;
    margin-top: 1.938rem;
    margin-left: 21.875rem;
    font-size: 0.938rem;
    font-weight: 500;
    letter-spacing: -1.5%;
    
}

.h_search {
    width: 29.813rem;
    height: 2.5rem;
    margin-top: 1.25rem;
    margin-left: 37.688rem;
    border-style: mixed;
    border-color: #FFFFFF;
    color: #FFFFFF;

}

.h_button {
    margin: auto;
}

.hamburger-menu {
    visibility: hidden;
    position: absolute;
}
}

/*Code hero*/

@media screen and (max-width: 425px) {

    .hero_img_deskt {
        display: none;
    }

    .hero-image {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-position: bottom;
        background-size: cover;
        height: 28.125rem;
    }
}

@media screen and (min-width: 426px) {
    .hero_img_mob {
        display: none;
    }
}
.r-box, .p-box {
    display: flex;
    
}

.checked {
    color: yellow;
}

.avis {
    display: flex;
}

.avantage {
    display: flex;
}

