/* Code body */

body {
    margin: 0%;
    padding: 0%;
}

* {
    max-width: 100%;
    max-height: auto;
}
/* Code Header */
@media screen and (max-width: 425px ) { 
header {
    display: flex;
    width: 100%;
    height: 5rem;
    background-color: #152237;
}


    .h_img {
    height: 1.938rem;
    margin-top: 1.563rem;
    margin-left: 1.688rem;

}

.h_p {
    display: none;
}

.h_search {
    display: none;
}

.h_button {
    display: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 25px;
  left: 81%;
  

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 3px;

  background-color: #ffffff;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #ffffff;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #ffffff;

  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #ffffff;
}
}

@media screen and (min-width: 426px ) {
    header {
    display: flex;
    width: 100%;
    height: 5rem;
    background-color: #152237;
}


    .h_img {
    width: 5.25rem;
    height: 1.938rem;
    margin-top: 1.563rem;
    margin-left: 1.688rem;

}

.h_p {
    width: 6.875rem;
    height: 1.125rem;
    margin-top: 1.938rem;
    margin-left: 21.875rem;
    font-size: 0.938rem;
    font-weight: 500;
    letter-spacing: -1.5%;
    
}

.h_search {
    width: 29.813rem;
    height: 2.5rem;
    margin-top: 1.25rem;
    margin-left: 37.688rem;
    border-style: mixed;
    border-color: #FFFFFF;
    color: #FFFFFF;

}

.h_button {
    margin: auto;
}

.hamburger-menu {
    visibility: hidden;
    position: absolute;
}
}

/*Code hero*/

@media screen and (max-width: 425px) {

    .hero_img_deskt {
        display: none;
    }

    .hero-image {
        display: flex;
        max-width: 100%;
        height: 364px;
        background: linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%), url("/assets/img/hero-mobile.png");
        background-size: cover;
        background-position: bottom;
    }

    .hero_text {
      position: absolute;
    }

    .hero_text h1 {
      margin-top: 45px;
      margin-left: 16px;
      margin-right: 16px;
      font-family: Montserrat;
      font-weight: 800;
      font-style: ExtraBold;
      font-size: 32px;
      letter-spacing: -0.031rem;
      line-height: 100%;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
    }

    .hero_text h3 {
      margin-top:27px;
      margin-left: 16px;
      margin-right: 16px;
      font-family: Montserrat;
      font-weight: 500;
      font-style: Medium;
      font-size: 20px;
      letter-spacing: -0.031rem;
      line-height: 100%;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
    }

    .hero_text button {
      width: 130px;
      height: 40px;
      margin-top: 24px ;
      margin-left: 131px;
      border-radius: 6px;
      border-style: hidden;
      font-family: Montserrat;
      font-weight: 500;
      font-size: 15px;
      letter-spacing: -0.031rem;
      line-height: 100%;
      text-align: center;
      vertical-align: middle;
    }
}

@media screen and (min-width: 426px) {
    .hero_img_mob {
        display: none;
    }
}

/*Code Popular et recent */

@media screen and (max-width: 425px) {
  .recent {
    background-color: #152237;
  }
  
  .title {
    display: flex;
    justify-content: center;
    letter-spacing: -0.031rem ;
  }
  .recent h2 {
    color: #FFFFFF;
  }

   h2 {
    width: 335px;
    font-family: MontSerrat;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.031rem ;
  }

  .box {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    
  }

  .holder {
    position: relative;
    
    display: inline-block;
  }

  .holder .p-button {
    position: absolute;
    bottom: -11px;
    right: 10px;
    
  }
  .recent .p-text {
    color: #FFFFFF;
  }
  .p-text {
    margin: auto;
    margin-left: 14%;
    margin-right: 11%;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  
  .recent .box .p-button {
    background-color: #FFFFFF;
  }


  .box .p-button {
    width: 120px;
    height: 31.58px;
    border-radius: 93px;
    border-style: hidden;
    background-color: rgba(21, 34, 55, 1);
    display: flex;
  }

  .recent .box h2 {
    color: rgba(21, 34, 55, 1);
  }

  .box h2 {
    font-family: MontSerrat;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.031rem;
    margin: auto;
    color: rgba(255, 255, 255, 1);
  }

  .recent .box h3 {
    color: rgba(21, 34, 55, 1);
    text-decoration: inline-through #152237;
  }
  .box h3 {
    font-family: MontSerrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 7px;
    letter-spacing: -0.031rem;
    text-decoration: line-through;
    margin: auto;
    color: rgba(255, 255, 255, 1);
  }

  .box h4 {
    font-family: MontSerrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.031rem;
    margin: auto;
    margin-top: 5px;
  }

  .box h5 {
    font-family: MontSerrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0%;
    margin: auto;
    align-self: center;
    margin-top: 5px;
  }

  .box .rating {
    margin-top: 5px;
  }

  .box .fa {
    color: rgba(255, 199, 0, 0.3);
  }

  .box .checked {
    color: rgba(255, 199, 0, 1) ;
    margin: auto;
  }
  
  

  .box p {
    font-family: MontSerrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin: auto;
    margin-top: 5px;
  }
  
  .bottom-button {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
    padding-top: 15px;
  }

  .recent .p-box .p-bottom-button {
    background-color: #FFFFFF;
    color: #152237;
    
  }

  .p-box .p-bottom-button {
    width: 225px;
    height: 40px;
    border-radius: 6px;
    border-style: hidden;
    background-color: rgba(21, 34, 55, 1);
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -0.031rem;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    
  }

  

}

@media screen and (min-width: 426px) {

}


/* Code Avis */

@media screen and (max-width: 425px) {
  .a-box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .avis-container .title {
    text-transform: uppercase;
  }

  .a-box .rating .checked {
    color: rgba(255, 199, 0, 1);
    
  }

  .avis-container h2 {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.031rem;
    text-align: center;
    text-transform: uppercase;
    color: rgba(21, 34, 55, 1);
  }
  .a-box img {
    clip-path: circle();
  }

  .a-box h4 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* letter-spacing: -1.5%; */
    text-align: center;
    color: rgba(21, 34, 55, 1);
    margin: auto;
    margin-bottom: 5px;
    letter-spacing: -0.031rem ;
  }

  .a-box p {
    font-family: MontSerrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    width: 340px;
    height: 173px;
    letter-spacing: -0.031rem ;
    margin: auto;
  }
}

@media screen and (min-width: 426px) {

  .avis {
      display: flex;
  }
  
}

/*Code avantage/ Formations / Contact */

@media screen and (max-width: 425px) {
  .avantage {
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .formation {
    background-color: rgba(68, 221, 138, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .propos {
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .avantage h2 {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.031rem;
    text-align: center;
    text-transform: uppercase;
    color: rgba(21, 34, 55, 1);
  }

  .formation h2 {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.031rem;
    text-align: center;
    text-transform: uppercase;
    color: rgba(21, 34, 55, 1);
  }

  .propos h2 {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.031rem;
    text-align: center;
    text-transform: uppercase;
    color: rgba(21, 34, 55, 1);
  }
  

  .avantage .title {
    text-transform: uppercase;
  }
 
  ul {
    padding-left: 0px !important;
    
  }

  li {
    display: inline-block;
    margin-bottom: 15px;
  }

    .text-avantage {
      width: 356px;
      margin-left: 8%;
    }

  .text-avantage .list {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.031rem;
    margin-right: 25px;
  }

  .list-image {
    float: left;
    padding-right: 15px;
  }

  .formation .list-image {
    padding-right: 30px;
  }

  .padding img {
    padding-bottom: 30px;
  }

  .padding-2 img {
    padding-bottom: 200px;
  }

  .padding-3 img {
    padding-bottom: 70px;
  }

  .img-avantage {
    width: 327px;
    height: 244px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }
  .propos .propos-text {
    width: 345px;
    margin-bottom: 35px;
    margin-top: 0px;
  }
  .propos p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.031rem;
    color: rgba(21, 34, 55, 1);
  }

  .propos .img-avantage {
    background-color: rgba(21, 34, 55, 1);
    width: 100%;
    height: 370px;
    padding-bottom: 0%;
  }

  .propos img {
    width: 214px;
    height: 77px;
    align-self: center;
  }

}

@media screen and (min-width: 426px) {

}


