header {
    display: flex;
    width: 1680px;
    height: 80px;
}



.r-box, .p-box {
    display: flex;
    
}

.checked {
    color: yellow;
}

.avis {
    display: flex;
}

.avantage {
    display: flex;
}

